* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


.inputDiv {
    /* coming from dynaminInput.module */
}

.inputDiv>input {
    min-width: 300px;
    height: 3rem;
    border-radius: 5px;
    border: none;
    outline: 1px solid #DCDDE3;
    padding: 22px 20px;
    line-height: 19px;
    font-size: 18px;
    caret-color: var(--color-azul);
}

.inputDiv>input:focus {
    outline: 1px solid var(--color-azul);
}