.filterContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    padding: 0 1rem;
}
.filterInputs{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 3rem;
    height: fit-content;

}

.filterInputs > div{
    width: 300px;
}

div:has(>input):not(.filterInputs){
    width: 270px !important;
}

.filterBtns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 200px;
    gap: 1rem;
}

#filter{
    width: 100% !important;
}
@media(max-width: 740px){
    .filterBtns{
        width: 70%;
    }
}


